@using PasswordManager.ViewModels.Vault
@model ChangeMasterPasswordViewModel
@{
    ViewData["Title"] = "Settings";
    ViewData["EnablePasswordGenerator"] = true;
    Layout = "_VaultLayout";
}
<!-- Header -->
<header class="header">
    <div class="header-title-section">
        <h1 class="page-title">Master Password</h1>
        <p class="page-subtitle">Change your master password here</p>
    </div>
</header>
<!-- Settings Content -->
<div class="content-area">
    <div class="form-container">
        <!-- Form for sending code -->
        <form asp-action="PostChangeMasterPassword" asp-controller="Settings" method="post" class="vault-form" id="sendCodeForm">
            @Html.AntiForgeryToken()
            <div class="form-section">
                <h3 class="form-section-title">Change your password:</h3>
                <div class="form-group">
                    <label>Current password</label>
                    <input asp-for="CurrentPassword" type="password" class="form-input" placeholder="Current password">
                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label>New password</label>
                    <input asp-for="NewPassword" type="password" id="newPassword" class="form-input" placeholder="New password">
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label>Repeat new password</label>
                    <input asp-for="VerifyPassword" type="password" id="verifyPassword" class="form-input" placeholder="Repeat new password">
                    <span asp-validation-for="VerifyPassword" class="text-danger"></span>
                </div>

            </div>
            <div class="form-actions">
                <a href="@Url.Action("Settings", "Vault")" class="btn btn-secondary">Cancel</a>
                <button type="submit" class="btn btn-primary">
                    Change
                </button>
            </div>
        </form>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/vault-forms.css" asp-append-version="true" />
}